{% extends "layout.html" %}
{% block content %}
<section class="section">
  <div class="row">
    <div class="col-lg-6" style="margin-left: 300px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update EMPLOYE</h5>

          <!-- update Form -->
          <form class="row g-3" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="col-12">
              {{ form.NUMEMP.label(class="form-label") }}
              {% if form.NUMEMP.errors %}
                  {{ form.NUMEMP(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.NUMEMP.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.PRENOM(class="form-control") }}
              {% endif %}
            </div>
            <div class="col-12">
              {{ form.PRENOM.label(class="form-label") }}
              {% if form.PRENOM.errors %}
                  {{ form.PRENOM(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.PRENOM.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.PRENOM(class="form-control") }}
              {% endif %}
            </div>
          
            <div class="col-12">
              {{ form.NOM.label(class="form-label") }}
              {% if form.NOM.errors %}
                  {{ form.NOM(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.NOM.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.NOM(class="form-control") }}
              {% endif %}
            </div>
          
            <div class="col-12">
              {{ form.TEL.label(class="form-label") }}
              {% if form.TEL.errors %}
                  {{ form.TEL(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.TEL.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.TEL(class="form-control") }}
              {% endif %}
            </div>
            
            <div class="col-12">
              {{ form.ADRESSE.label(class="form-label") }}
              {% if form.ADRESSE.errors %}
                  {{ form.ADRESSE(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.ADRESSE.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.ADRESSE(class="form-control") }}
              {% endif %}
            </div>
          
            <div class="col-12">
              {{ form.VILLE.label(class="form-label") }}
              {% if form.VILLE.errors %}
                  {{ form.VILLE(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.VILLE.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.VILLE(class="form-control") }}
              {% endif %}
            </div>
          
            <div class="col-12">
              {{ form.CODE_POST.label(class="form-label") }}
              {% if form.CODE_POST.errors %}
                  {{ form.CODE_POST(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.CODE_POST.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.CODE_POST(class="form-control") }}
              {% endif %}
            </div>
          
            <div class="col-12">
              {{ form.PAYS.label(class="form-label") }}
              {% if form.PAYS.errors %}
                  {{ form.PAYS(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.PAYS.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.PAYS(class="form-control") }}
              {% endif %}
            </div>
          
            <div class="col-12">
              {{ form.SAL.label(class="form-label") }}
              {% if form.SAL.errors %}
                  {{ form.SAL(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.SAL.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.SAL(class="form-control") }}
              {% endif %}
            </div>
          
            <div class="col-12">
              {{ form.FONCTION.label(class="form-label") }}
              {% if form.FONCTION.errors %}
                  {{ form.FONCTION(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.FONCTION.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.FONCTION(class="form-control") }}
              {% endif %}
            </div>
            <script>
              function toggleField() {
                  var navig = document.getElementById('navig_value');
                  var aircraft = document.getElementById('aircraft_field');
                  if (navig.checked === false) {
                      aircraft.disabled = true;
                  } else {
                      aircraft.disabled = false;
                  }
              }
              window.onload = function() {
                  toggleField();
              };
            </script>
            <div class="col-12">
              {{ form.NAVIG.label(class="form-check-label") }}
              <small class="form-text text-muted">(check if true)</small>
              {% if form.NAVIG.errors %}
                  {{ form.NAVIG(class="form-check is-invalid" ,id='navig_value', onchange='toggleField()') }}
                  <div class="invalid-feedback">
                      {% for error in form.NAVIG.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.NAVIG(class="form-check", id='navig_value', onchange='toggleField()') }}
              {% endif %}
            </div>
            <div class="col-12">
              {{ form.NUMAV.label(class="form-label") }}
              {% if form.NUMAV.errors %}
                  {{ form.NUMAV(class="form-control is-invalid",id="aircraft_field",  onchange='toggleField()') }}
                  <div class="invalid-feedback">
                      {% for error in form.NUMAV.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.NUMAV(class="form-control",id="aircraft_field",  onchange='toggleField()') }}
              {% endif %}
            </div>
            <div class="text-center">
              {{ form.submit(class="btn btn-primary") }}
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form>
          <!-- update Form -->

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section de suppression -->
<div class="row mt-4" style="margin-left: 350px;">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Delete Employe</h5>

        <!-- Formulaire de suppression -->
        <form method="POST" action="" onsubmit="return confirmDelete()">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form_delete.id.label(class="form-label") }}
            {{form_delete.id(class="form-control")}}
          </div>
          <div class="text-center">
            {{ form_delete.submit(class="btn btn-outline-danger") }}
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<script>
  function confirmDelete() {
    return confirm("are you sure?");
  }
</script>



{% endblock content %}
