{% extends "layout.html" %}
<!-- dashboard page-->
{% block content %}
<section class="section dashboard" style="margin-right: -600px;">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
      <!--gestion vol-->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Recent Flight <span>| DATA</span></h5>

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">Flight N°</th>
                    <th scope="col">Aircraft N°</th>
                    <th scope="col">Departure City</th>
                    <th scope="col">Arrival City</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">flight Duration</th>
                    <th scope="col">flight Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for flight in flights %}
                  <tr>
                    <th scope="row" >{{ flight.NUMVOL }}</th>
                    <th scope="row" >{{ flight.NUMAV }}</th>
                    <td>{{ flight.VILDEP }}</td>
                    <td>{{ flight.VILARR }}</td>
                    <td>{{ flight.HDEP }}</td>
                    <td>{{ flight.DURVOL }}</td>
                    <td>
                      {% if flight.HDEP < datetimeNow %}
                      <span class="badge bg-danger">Departed</span>
                      {% else %}
                      <span class="badge bg-success">Upcoming</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>

          </div>
        </div> <!-- end gestion vol-->
        <!-- Recent Flight -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">AirCrafts <span>| DATA</span></h5>

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">Aircraft N°</th>
                    <th scope="col">Aircraft Type</th>
                    <th scope="col">Service Start Date</th>
                    <th scope="col">Hours From Last Inspection</th>
                    <th scope="col">last inspection</th>
                    <th scope="col">inspection alert</th>
                  </tr>
                </thead>
                <tbody>
                  {% for aircraft in aircrafts %}
                  <tr>
                    <th scope="row" >{{ aircraft.NUMAV }}</th>
                    <td>{{ aircraft.TYPAV }}</td>
                    <td>{{ aircraft.DATMS }}</td>
                    <td>{{ aircraft.NBHDDREV }}</td>
                    <td>{% if aircraft.AUTORISTION %}<span class="badge bg-success">Approved</span>
                      {% else %}<span class="badge bg-danger">Disapproved</span>{% endif %}</td>                       
                      <td>
                        {% if aircraft.NBHDDREV >= 1000 or (dateNow - aircraft.DATREV).days > 180 %}
                            <a href="{{ url_for('inspection_insert') }}" class="badge bg-danger">Needs Inspection</a>
                        {% else %}
                          <span class="badge bg-success">No Need</span>
                        {% endif %}
                        </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Recent Flight -->
        <!--pour personnel-->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <h5 class="card-title">Airline Emlpoyees <span>| DATA</span></h5>

            <table class="table table-borderless datatable">
              <thead>
                    <tr>
                    <th scope="col">Employee Number</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">Country</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Function&Job</th>
                    <th scope="col">Hire Date</th>
                    <th scope="col">Monthly Flight Hours</th>
                    <th scope="col">Total Flight Hours</th>
                    <th scope="col">Navigator</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for employee in employees %}
                    <tr>
                    <td>{{ employee.NUMEMP }}</td>
                    <td>{{ employee.NOM }}</td>
                    <td>{{ employee.PRENOM }}</td>
                    <td>{{ employee.TEL }}</td>
                    <td>{{ employee.ADRESSE }}</td>
                    <td>{{ employee.VILLE }}</td>
                    <td>{{ employee.CODE_POST }}</td>
                    <td>{{ employee.PAYS }}</td>
                    <td>{{ employee.SAL }}</td>
                    <td>{{ employee.FONCTION }}</td>
                    <td>{{ employee.DATEMB }}</td>
                    <td>{{ employee.NBMHV }}</td>
                    <td>{{ employee.NBTHV }}</td>
                    <td>{% if employee.NAVIG %}
                      <span class="badge bg-success">True</span>
                      {% else %}
                      <span class="badge bg-danger">False</span>
                      {% endif %}</td>
                    </tr>
                    {% endfor %}
                 
              </tbody>
              
            </table>

          </div>

        </div>
       </div><!-- end pour personnel-->
   

  </div>
  
</section>
{% endblock content %} 