{% extends "layout.html" %}
{% block content %}
<section class="section">
  <div class="row">
    

    <div class="col-lg-6" style="margin-left: 280px;">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New flight</h5>

          <!-- flight Form -->
          <form class="row g-3" method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Ville de départ -->
            <div class="col-12">
              {{ form.VILDEP.label(class="form-label") }}
              {% if form.VILDEP.errors %}
                  {{ form.VILDEP(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.VILDEP.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.VILDEP(class="form-control") }}
              {% endif %}
            </div>  
            <!-- Ville d'arrivée -->
            <div class="col-12">
              {{ form.VILARR.label(class="form-label") }}
              {% if form.VILARR.errors %}
                  {{ form.VILARR(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.VILARR.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.VILARR(class="form-control") }}
              {% endif %}
            </div>
            
            <!-- Heure de départ -->
            <div class="col-12">
              <label for="HDEP" class="form-label">Departure Time</label>
              <input type="datetime-local" id="HDEP" name="HDEP" class="form-control" required>
            </div>
            
            <!-- Durée du vol -->
            <div class="col-12">
              {{ form.DURVOL.label(class="form-label") }}
              {% if form.DURVOL.errors %}
                  {{ form.DURVOL(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.DURVOL.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.DURVOL(class="form-control") }}
              {% endif %}
            </div>
            <!-- avion pour ce vol -->
            <div class="col-12">
              {{ form.NUMAV.label(class="form-label") }}
              {% if form.NUMAV.errors %}
                  {{ form.NUMAV(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.NUMAV.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.NUMAV(class="form-control") }}
              {% endif %}
            </div>
            
            <div class="text-center">
              {{ form.submit(class="btn btn-primary") }}
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form>
          <!-- flight Form -->

        </div>
      </div>

    </div>
  </div>
  
</section>
{% endblock content %}
